/gui
dummy_chess*
*.o
*.a
*.so
*.dylib
mappings.txt
*.out
*.dSYM
*.gcda
*.profdata
*.profraw
*.profdata
perf.data*
m42.*
_skbuild/
__pycache__
MANIFEST.in
target/
core

*.swp
*.swo

!/scripts/m42_download
!/scripts/perft_compare.py
!/scripts/uci_utilities.py
!/scripts/bench.py
scripts/
puzzles/
external/

tempfile
/sync
/build
.cache/
training/bench_*.py
