/gui
dummy_chess*
*.o
*.out
*.dSYM
*.gcda
default*.profraw
default*.profdata
m42.*

!/scripts/m42_download
!/scripts/perft_compare.py
!/scripts/uci_utilities.py
!/scripts/bench.py
scripts/

tempfile
/sync
