/gui
dummy_chess*
*.o
*.so
*.out
*.dSYM
*.gcda
*.profdata
*.profraw
*.profdata
m42.*

*.swp
*.swo

!/scripts/m42_download
!/scripts/perft_compare.py
!/scripts/uci_utilities.py
!/scripts/bench.py
scripts/
puzzles/
external/

tempfile
/sync
