stages:
  - run_amd64
  - run_arm64

.run:
  timeout: 3h
  variables:
    RUNNER_BEFORE_SCRIPT_TIMEOUT: 3h
    RUNNER_SCRIPT_TIMEOUT: 3h
  script: |
    set -ex
    # build without PGO
    cmake -B build -DCMAKE_BUILD_TYPE=Release -DOPTION_SUPPORT_PGO=disabled
    cmake --build build
    # UCI tests
    ./test/run_tests.sh build/dummy_chess_uci
    # perft test
    python3 scripts/perft_test.py build
    # build with PGO
    rm -rf build
    cmake -B build -DCMAKE_BUILD_TYPE=Release
    cmake --build build

.run_linux:
  extends: .run
  parallel:
    matrix:
      - IMAGE: "debian:unstable-slim"
        COMPILER: ["gcc", "clang"]
      - IMAGE: "ghcr.io/void-linux/void-musl-busybox"
        COMPILER: ["gcc", "clang"]
  before_script: |
    set -ex
    if test "${IMAGE}" = "debian:unstable-slim"; then
      apt-get update -y
      apt-get install -y wget cmake make pkgconf clang gcc g++ build-essential valgrind libbsd-dev libjemalloc-dev python3 git libzstd-dev libncurses-dev libncursesw5-dev perl stockfish fairy-stockfish expect
      rm -rf /var/lib/apt/lists/*
      export PATH="$PATH:/usr/games"
    elif test "${IMAGE}" = "ghcr.io/void-linux/void-musl-busybox"; then
      xbps-install -Syu
      xbps-install -Sy wget bash cmake make pkg-config clang gcc base-devel llvm libbsd-devel jemalloc-devel python3 git libzstd-devel ncurses-devel perl stockfish fairy-stockfish expect
      export PATH="$PATH:/usr/games"
    else
      echo "image ${IMAGE}"
      exit 1
    fi
    if test "${COMPILER}" = gcc; then
      export CC=gcc CXX=g++
    elif test "${COMPILER}" = clang; then
      export CC=clang CXX=clang++
    fi

run_linux_amd64:
  stage: run_amd64
  extends: .run_linux
  image:
    name: "$IMAGE"
    docker:
      platform: "amd64"
  artifacts:
    paths:
      - "external/syzygy"


run_linux_arm64:
  stage: run_arm64
  extends: .run_linux
  needs:
    - job: run_linux_amd64
      artifacts: true
  image:
    name: "$IMAGE"
    docker:
      platform: "arm64"

#run_linux_riscv64:
#  extends: .run_linux
#  image:
#    name: "$IMAGE"
#    docker:
#      platform: "riscv64"

#run_macos:
#  extends: .run
#  image: macos-14-xcode-15
#  before_script: |
#    set -ex
#    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
#    brew install cmake pkg-config libbsd jemalloc python3 git libzstd ncurses stockfish
#    export CC=cc CXX=c++
#    CURRENT_DIR="$PWD"
#    git clone https://github.com/fairy-stockfish/Fairy-Stockfish ~/fairy-stockfish
#    cd ~/fairy-stockfish
#    make -C ./src
#    mkdir -p ~/.local/bin
#    export PATH="$HOME/.local/bin:$PATH"
#    make -C ./src install PREFIX=~/.local/bin
#    cd "$CURRENT_DIR"
